{% extends 'base.html' %}

{% block body %}

<form class="form m-3">
  <h1>Edit Post</h1>
      <div class="form-group col-3">
        <label for="edit-title">Title</label>
        <input name="edit-title" value="{{post.title}}" type="text" class="form-control" id="edit-title" aria-describedby="postTitleHelp" placeholder="Post title here">
      </div>
      <div class="form-group col-3">
        <label for="edit-content">Content</label>
        <textarea name="edit-content" rows="4" type="text" class="form-control" id="edit-content" aria-describedby="postContentHelp" placeholder="Enter post body here">{{post.content}}</textarea>
      </div>
      <div class="my-3">
          {% for checked in checked_tags %}
          <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="tag-name" value="{{checked.id}}" id="tag-id-{{checked.id}}" checked="">
          <label class="custom-control-label" for="tag-id-{{checked.id}}">{{checked.name}}</label>
          </div>
          {% endfor %}
          {% for unchecked in unchecked_tags %}
          <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="tag-name" value="{{unchecked.id}}" id="tag-id-{{unchecked.id}}">
          <label class="custom-control-label" for="tag-id-{{unchecked.id}}">{{unchecked.name}}</label>
          </div>
          {% endfor %}
        </div>
      <button class="btn btn-outline-primary" id="cancel-edit" formaction="/users/{{user.id}}" formmethod="GET">Cancel</button>
      <button class="btn btn-success" id="edit-post" formaction="/posts/{{post.id}}/edit" formmethod="POST">Add</button>
</form>



{% endblock %}